body{
  margin:0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.sign-up-form{
  width:100%;
}
.sign-up-form
{

  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: #fff;
  padding: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px
}


.sign-up-form h1{
  color: #1c8abd;
  margin-bottom: 30px
}
.input-box{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border:1px solid #999;
  outline: none;

}
button{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline:none;
  cursor: pointer;
}
@media screen and (max-width:346px){
  .sign-up-form{
    width: 80%;
  }
}
@media screen and (max-height:609px){
  .sign-up-form{
    height: 98%;
  }
}
.signup-btn{
  background-color: #1c8adb;
}
.twitter-btn{
  background-color: #21afde;
}
a{
  text-decoration: none;
}
hr{
  margin-top: 20px;
  width: 80%;
}
.or{
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}
